@font-face {
    font-family: 'Planeto';
    src: url('./Font/Planeto.woff2') format('woff2'), 
         url('./Font/Planeto.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geostar Fill';
    src: url('./Font/GeostarFill-Regular.woff2') format('woff2'),
         url('./Font/GeostarFill-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Planeto', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.accent-text-scifi ,.accent-text p, .accent-text-by,.accent-text-nasa {
    font-family: 'Geostar Fill', cursive;
    font-size: 1rem;
}

.accent-text-scifi, .accent-text-by {
    padding-top: 3em;
}

.content, .content-nasa, .scifi-content, .content-by {
    position: flex;
    background-color: #F2D0B4;
    color: #1D2F3B;
    padding-top: 5em;
}

.content h2, .content-nasa h2, .scifi-content h2, .content-by h2 {
    font-size: 2rem;
    align-self: start;
    text-align: left;
}

.content p, .content-nasa p, .scifi-content p, .content-by p {
    font-size: 1rem;
    text-align: left;
    padding-top: 3em;
    max-width: 30em;
}



.transition {
    position: relative;
    z-index: 2; 
    transition: opacity 0.5s ease-in-out;
} 

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #F2D0B4;
}

.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 5rem;
    color: #F2D0B4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em 0;
}

.logo img {
    width: 4em;
    height: 4em; /* Setze die Höhe und Breite des Logos auf 4em */
    margin-bottom: -3em; /* Verringere den Abstand zwischen Logo und Hamburger-Button */
}

.hamburger {
    width: 4em; /* Passe die Breite des Hamburger-Buttons an */
    height: 4em; /* Passe die Höhe des Hamburger-Buttons an */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em; /* Passe die Größe des Hamburger-Symbols an */
    cursor: pointer;
}



/* .slider {
    display: flex;    
    flex-direction: row;  
    min-width: 100%;    
    height: 100vh;    
    scroll-behavior: smooth; 
    overflow-x: scroll;
    overflow-y: hidden;
    width: calc(300vw * number_of_sections);    
}  */

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.section {
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.inner {
    position: relative;
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.hero {
    /* grid-area: hero; */ 
    background-color: #1D2F3B;    
    color: #F2D0B4;    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;   
}

.hero-content {
    align-content: center;
    align-items: center;
}
.hero-content h1 {
    font-size: 4rem;     
}

.hero-content img {
    height: 20%;
    padding: 5%;
}

.hero-content p {
    font-size: 2rem; 
}

.transition {
    background-color: #1D2F3B;
    height: 100vh;
    display: flex; 
}
.illustration {
    height: 100vh;
    display: flex; 
}

.welcome {
    display: grid;
    width: 100vw;
    grid-template-columns: 5fr 5fr;
    grid-template-areas: 
    'welcome rules';
    
}

.content {
    grid-area: welcome;    
}


.accent-text {
    display: grid;
    width: 40rem;
    padding-top: 3em;
    align-items: center;
    text-align: left;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    'bild text';
    justify-items: start;
}
.accent-text img {
    grid-area: bild;
    height: 5em;
}

.accent-text p {
    grid-area: text;
}


.rules-header{
    grid-area: rules;
    text-align: left; 
    position: flex;
    height: 100%;
   
}
.rules {
    padding-top: 3em;  
    display: grid;
    grid-template-columns: 1fr 7fr; 
    grid-template-rows: auto;
    grid-row-gap: 1em; 
    align-items: center;
}

.rules img {
    height: 4em;
    width: 4em;
    justify-self: start; 
    align-items: start;
}

.rules p {
    width: auto; 
    text-align: left;
    justify-self: start;
    width: 15em;
    
}

.nasa {
    display: grid;
    width: 100%;
    grid-template-columns: 5fr 2fr;  /* Anpassung des Verhältnisses */
    grid-template-areas: 'nasa news'; 
}

.content-nasa {
    grid-area: nasa; 
}



.news {
    grid-area: news;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2em;

    
}

.news h3 {
    padding-bottom: 2em;
}

.news-button {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 1em;    
         
}

.button {  
    background-color: #4DAD6E;
    padding: 1em 3em;  
    width: 15em;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #4EA2AC; 
}

.Sci-Fi {
    display: grid;
    width: 100%;
    grid-template-columns: 7fr 4fr;
    grid-template-areas: 
    'scifi playlist';
    padding-left: 2em;
    
}

.scifi-content {
    grid-area: scifi; 
}


.playlist-content {
    grid-area: playlist;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-right: 10em;
    padding-top: 5em;
}

.playlist-content h3 {
    padding-bottom: 1em;
}

.playlist-content p {
    padding-top: 1em;
}
.playlist-content img {
    height: 10em;
    width: 10em;
    
}

.stories {
    display: grid;
    width: 150vw;
    grid-template-columns: 10fr 10fr;  
    grid-template-areas: 
    'title title'
    'spock mark';
    padding-top: 5em;  
    padding-left: 8em; 
    column-gap: 4em;
}

#question {
    font-family: 'Geostar Fill', cursive;
    padding-bottom: 0.5em;
    
}

#answer {
    padding-bottom: 2em;
}

.stories h3 {
    grid-area: title;
    padding-bottom: 3em;
}

.spock-content {
    grid-area: spock;
    display: grid;
    grid-template-columns: 1fr 8fr 8fr;  
    grid-template-areas: 'b1 p1 p1a';
    column-gap: 1em;

}


.b1 {
    grid-area: b1;
    padding-right: 3em;
}

.p1 {
    grid-area: p1;
    max-width: 20em;
    min-width: 15em;
}

.p1a {
    grid-area: p1a;
    max-width: 20em;
    min-width: 15em;
   
}



.spock-content img {
    width: 15em;
    height:15em;
    
}

.spock-content h4 {
    padding-top: 1em;
}

.mark-content {
    grid-area: mark;
    display: grid;
    grid-template-columns: 1fr 8fr 8fr;  
    grid-template-areas: 'b2 p2 p2a';
    /* column-gap: 4em; */
}

.mark-content img {
    width: 15em;
    height:15em;
}

.mark-content h4 {
    padding-top: 1em;
}

.b2 {
    grid-area: b2;
    padding-right: 3em;
}

.p2 {
    grid-area: p2;
    max-width: 20em;
    min-width: 15em;
}

.p2a {
    grid-area: p2a;
    max-width: 20em;
    min-width: 15em;
}

.by {
    display: grid;
    grid-template-columns: auto;
}

.content-by {
    width: 60vw;
    
}





.footer {
    /* display: grid; 
    grid-template-columns: auto; */
    
    background-color: #1D2F3B;    
    color: #F2D0B4;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 5em;
    height: 100vh; 
    width: 20vw; 
}

.footer p {
    max-width: 10em;
    text-align: left;
}

.icon {
    width: 2em;
    height: 2em;
    display: flex;
    /* justify-content: space-between; */
    column-gap: 1em;
    
}

@media (max-width: 600px) {
    
        .accent-text-scifi ,.accent-text p, .accent-text-by,.accent-text-nasa {
            font-family: 'Geostar Fill', cursive;
            font-size: 1rem;
        }
        
        .accent-text-scifi, .accent-text-by {
            padding-top: 3em;
        }
        
        .content, .content-nasa, .scifi-content, .content-by {
            position: flex;
            background-color: #F2D0B4;
            color: #1D2F3B;
            padding-top: 5em;
        }
        
        .content h2, .content-nasa h2, .scifi-content h2, .content-by h2 {
            font-size: 2rem;
            align-self: start;
            text-align: left;
        }
        
        .content p, .content-nasa p, .scifi-content p, .content-by p {
            font-size: 1rem;
            text-align: left;
            padding-top: 3em;
            max-width: 30em;
        }
    
}