@font-face {
    font-family: 'Planeto';
    src: url('./Font/Planeto.woff2') format('woff2'), 
         url('./Font/Planeto.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geostar Fill';
    src: url('./Font/GeostarFill-Regular.woff2') format('woff2'),
         url('./Font/GeostarFill-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Planeto', sans-serif;
}

.accent, .accent-text, .accent-text p {
    font-family: 'Geostar Fill', cursive;
}


p {
    font-family: 'Lato', sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .content, .illustration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.transition {
    position: relative;
    z-index: 2; 
    transition: opacity 0.5s ease-in-out;
} */

html, body {
    height: 100vh;     
    margin: 0;
    padding: 0;
    overflow-x: auto;     
    overflow-y: hidden;     
    width: 100%;   
}

.navbar {
    z-index: 1000;
    position: fixed;   /* Keeps the navbar fixed on the left */  
    top: 0;
    left: 0;
    height: 100vh;   
    width: 5rem;     
    /* background-color: #1D2F3B;   */
    color: #F2D0B4;     
    display: flex;
    flex-direction: column;     
    justify-content: flex-start;     
    align-items: flex-start;     
    padding: 1rem;     
}



.logo {
    width: 4em;
    /* padding: 1em; */
}

.slider {
    display: flex;    
    flex-direction: row;   /* Laying out children horizontally */  
    min-width: 100%;   /* Ensures the container is at least as wide as all its children combined */  
    height: 100vh;    
   /*  display: grid;
    grid-template-columns: repeat(14, 100vw); */  
    scroll-behavior: smooth; 
    overflow-x: scroll;
    overflow-y: hidden;
    width: calc(300vw * number_of_sections);   /* Adjust 'number_of_sections' to match your actual number of horizontal sections*/  
} 

.outer {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  */
    height: 100vh;
    overflow-x: auto; /* Enable horizontal scrolling */
    background-color: #F2D0B4;
}



.section {
    /* width: 100vw; */ 
    height: 100vh; /* Each section is as tall as the viewport */
    flex-shrink: 0; 
    overflow-x: hidden;
}

.inner {
    position: relative;
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.hero {
    /* grid-area: hero; */ 
    background-color: #1D2F3B;    
    color: #F2D0B4;    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;   
}

.hero-content {
    align-content: center;
    align-items: center;
}
.hero-content h1 {
    font-size: 4rem;     
}

.hero-content img {
    height: 20%;
    padding: 5%;
}

.hero-content p {
    font-size: 2rem; 
}

.transition {
    background-color: #1D2F3B;
    height: 100vh;
    display: flex; 
}
.illustration {
    height: 100vh;
    display: flex; 
}

.welcome {
    display: grid;
    width: 100vw;
    grid-template-columns: 5fr 5fr;
    grid-template-areas: 
    'welcome rules';
    padding-top: 5em;
}

.content {
    grid-area: welcome;
    position: flex;
    background-color: #F2D0B4;
    color: #1D2F3B; /* Text color */
    
}

.content h2{
    align-self: start;
    text-align: left;
}

.content p {
    text-align: left;
    padding-top: 3em;
    max-width: 50%;
}

.accent-text {
    display: grid;
    width: 40rem;
   /*  grid-template-columns: 5em 5em; */
    padding-top: 3em;
    align-items: center;
    text-align: left;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    'bild text';
    justify-items: start;
}
.accent-text img {
    grid-area: bild;
    height: 5em;
}

.accent-text p {
    grid-area: text;
    /* padding-left: 1em; */ 
}


.rules-header{
    grid-area: rules;
    text-align: left; 
    position: flex;
    height: 100%;
   
}
.rules {
    padding-top: 3em;  
    display: grid;
    grid-template-columns: 1fr 7fr; 
    grid-template-rows: auto;
    grid-row-gap: 1em; 
    align-items: center;
}

.rules img {
    height: 4em;
    width: 4em;
    justify-self: start; 
    align-items: start;
}

.rules p {
    width: auto; 
    text-align: left;
    justify-self: start;
    width: 15em;
    
}

.nasa {
    display: grid;
    width: 100vw;
    grid-template-columns: 4fr 1fr;  /* Anpassung des Verhältnisses */
    grid-gap: 2em;
    grid-template-areas: 'nasa news';
    padding-top: 5em;
}

.content-nasa {
    grid-area: nasa;
    text-align: left;    
}

.content-nasa p {
    padding-top: 3em;
    max-width: 50%;
}

.news {
    grid-area: news;
    text-align: center;
    
}

.news h3 {
    padding-bottom: 2em;
}

.news-button {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 1em;          
}

.button {  
    background-color: #4DAD6E;
    padding: 2em;  /* Erhöhe das Padding */
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #4EA2AC; 
}





  
/*




.chapter-image img {
    height: 100vh; 
    object-fit: cover;
    
}
  Chapter Text Styling  
.chapter-text {
    padding: 1rem;   Padding for chapter text  
}

  Adjusting chapter text images  
.chapter-text-image img {
    min-width: 5%;   Set a specific width  
    min-height: 5%;   Set a specific height  
    max-width: 50%;   Ensure it doesn't exceed container  
    max-height: 50%;   Ensure it doesn't exceed container  
    object-fit: contain;   Ensure proper scaling  
    margin: 1rem;   Space around the image  
}

  Chapter styles  
.chapter {
    height: 100vh;   Full viewport height  
    padding: 2rem;   Padding for chapters  
    background-color: #F2D0B4;
}

  .chapter:first-of-its-kind {
    grid-area: chapter1; 
}

.chapter:nth-of-its-kind(2) {
    grid-area: chapter2; 
}

.chapter:nth-of-its-kind(3) {
    grid-area: chapter3; 
}

.chapter:last-of-its-kind {
    grid-area: chapter4; 
}

.illustration:first-of-its-kind {
    grid-area: illustration1; 
}

.illustration:nth-of-its-kind(2) {
    grid-area: illustration2; 
}

.illustration:nth-of-its-kind(3) {
    grid-area: illustration3; 
}

.illustration:last-of-its-kind {
    grid-area: illustration4; 
}
  
  Transition styles  
.transition {
    height: 100vh;   Full viewport height  
    background-color: #1D2F3B; 
    display: flex;
    justify-content: center;
    align-items: center;
}

  .transition:first-of-its-kind {
    grid-area: transition1; 
}

.transition:nth-of-its-kind(2) {
    grid-area: transition2; 
}

.transition:nth-of-its-kind(3) {
    grid-area: transition3; 
}

.transition:last-of-its-kind {
    grid-area: transition4; 
}  


  Footer style  
.footer {
    background-color: #1D2F3B; 
    color: #F2D0B4;; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;   Padding for footer content  
}
 */